#!/usr/bin/make -f

DHFLAGS=--parallel

%:
	dh $@ $(DHFLAGS)

override_dh_strip:
	dh_strip --dbg-package=tkmreader-dbg

get-orig-source:
	uscan --noconf --force-download --rename --download-current-version --destdir=..

override_dh_auto_test:
	DEB_BUILD_OPTIONS=nocheck dh_auto_test
